@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --color-fondo: white;
    --color-primario: #212429;
    --color-acento: #ff7c57;
    --color-sombra: #0000001e;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-primario);
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--color-fondo);
    width: 100%;
    border-bottom: var(--color-primario) solid 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    padding: 20px;
    text-align: center;
}

#burguer {
    transition: 0.2s;
}

.nav-enlace {
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
}

.nav-enlace:hover, .footer-item a:hover {
    cursor: pointer;
    color: var(--color-acento);
    transition: 0.3s;
}

.nav-icono {
    float: right;
    margin-left: 50px;
    transition: 0.2s;
}

.nav-icono:hover, #burguer:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

header {
    margin-top: 40px;
    margin-bottom: 40px;
    font-variant: small-caps;
}

main {
    margin-left: 60px;
}

.coleccion {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    margin-top: 20px;
    margin-left:5%;
    margin-right:5%;
    justify-content: space-around;
}

.prenda {
    margin-left: 5px;
    margin-right: 5px;
    width: 280px;
    height: 470px;
    & > img {
        border-radius: 10px;
        margin-bottom: 10px;
        transition: 0.3s;
    }
}

.prenda:hover {
    cursor: pointer;
    & > img {
        transform: scale(1.05);
        box-shadow: var(--color-sombra) 5px 5px 5px;
        transition: 0.3s;
    }
}

.prenda > figcaption {
    float: left;
}

.prenda > .precio {
    font-weight: 700;
    float: right;
}

footer {
    background-color: var(--color-primario);
    color: white;
    width: 100%;
    height: 125px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.footer-icono {
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    align-content: center;
    text-align: center;
}